<div id='todo-index'>
<div id="todo-div" class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="input-group">
			<input id="subject" type="text" class="form-control">
			<span class="input-group-btn">
				<button id="to-do-submit" class="btn btn-primary" type="button">确定</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</span>
		</div>
	</div>
</div>
<br/>
<div id="todos" class="row">
	<div id="todos-current" class="col-md-6">
	</div>

	<div id="todos-passed" class="col-md-6">
	</div>
</div>
</div>
<script id="todo-current" type="text/template">
	<div class="checkbox">
		<label>
			<input type="checkbox" value="">
		</label>
	</div>
</script>
<script src="/assets/js/index.js"></script>
